In [1]:
import pandas as pd

In [2]:
# Exploring the arrival times of flights
flights = pd.read_csv('nycflights.csv')

In [3]:
flights.head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,6,30,940,15,1216,-4,VX,N626VA,407,JFK,LAX,313,2475,9,40
1,2013,5,7,1657,-3,2104,10,DL,N3760C,329,JFK,SJU,216,1598,16,57
2,2013,12,8,859,-1,1238,11,DL,N712TW,422,JFK,LAX,376,2475,8,59
3,2013,5,14,1841,-4,2122,-34,DL,N914DL,2391,JFK,TPA,135,1005,18,41
4,2013,7,21,1102,-3,1230,-8,9E,N823AY,3652,LGA,ORF,50,296,11,2

In [4]:
flights.shape

(32735, 16)

In [5]:
flights["arr_time"].describe()

count    32735.000000
mean      1502.907408
std        532.412363
min          1.000000
25%       1106.000000
50%       1537.000000
75%       1939.000000
max       2400.000000
Name: arr_time, dtype: float64